:root {
    /* Цвета для текста главной панели*/
    --color-text-main-primary: #000000CC;
    --color-text-main-secondary: #343434;
    --color-text-main-tertiary: #73808D;
    --color-text-heading-main: #FFFFFF;
    --color-bg-heading-main: #545454;
    --color-text-indicators: #545454;

    /* Цвета для текста боковой панели*/
    --color-text-aside-primary: #FFFFFF;
    --color-text-aside-secondary: #FAFAFA;
    --color-text-aside-tertiary: #CECACA;

    /* Цвета для фонов панелей*/
    --left-panel-bg: #C4C4C44D;
    --left-panel-bg-section: #C4C4C459;
    --right-panel-bg: #FFFFFF;

    /* Шрифты */
    --fw-regular: 400;
    --fw-bold: 700;
}

* {
    box-sizing: border-box;
}

html {
    font-family: 'Play', sans-serif;
    font-size: 14px;
    font-weight: var(--fw-regular);
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(180deg, rgba(3, 56, 244, 0.71) 0%, rgba(224, 37, 206, 0.79) 93.75%);
    display: flex;
    justify-content: center;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
}

a {
    color: var(--color-text-aside-primary);
    text-decoration: none;
}

.wrapper {
    display: flex;
    gap: 32px;
    padding: 16px;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}

.left-panel {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 430px;
    min-width: 350px;
    border-radius: 10px;
    gap: 24px;
    padding: 32px;
    background: var(--left-panel-bg);
    color: var(--color-text-aside-primary);
    flex-shrink: 1;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* ====Профиль==== */
.profile {
    display: flex;
    flex-direction: column;
}

.profile-image {
    display: flex;
    justify-content: center;
    width: 110px;
    height: 110px;
    margin: 0 auto;
    border-radius: 50%;
}

.name, .title {
    color: var(--color-text-aside-tertiary);
    font-size: 24px;
}

.origin {
    font-size: 36px;
}

.title {
    font-weight: var(--fw-bold);
}

.profile-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 8px;
}

.wrapper-sections .left-panel-bg:not(.contacts), .contact-item {
    background-color: var(--left-panel-bg-section);
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
}

.wrapper-sections {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* ====Контакты==== */
.contacts {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 8px 16px;
}

.contact-image {
    width: 24px;
    height: 24px;
}

.specialization, .languages, .social-media {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
}

.left-common-header {
    font-weight: var(--fw-bold);
}

.common-container-list {
    margin: 0;
    padding-left: 19px;
    color: var(--color-text-aside-secondary);
}

/* ====Языки==== */
.enum-lang-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
    list-style: none;
    padding: 0;
}

.lang-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.language-level {
    display: flex;
    gap: 4px;
}

.language_circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #54545499;
}

.language_circle_fill {
    background-color: #54545499
}

.language_circle_empty {
    background-color: #CECACA;
}

.bold-style {
    font-weight: var(--fw-bold);
}

.right-panel {
    display: flex;
    flex-direction: column;
    background-color: var(--right-panel-bg);
    gap: 24px;
    border-radius: 10px;
    padding: 32px 14px;
    width: 100%;
    max-width: 738px;
    flex-shrink: 1;
}

.right-section-wrapper, .experience-item {
    width: 100%;
    box-sizing: border-box;
}

/* ====Заголовок основной панели==== */
.right-common-header {
    display: flex;
    align-items: center;
}

.right-common-header-title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg-heading-main);
    width: 164px;
    height: 24px;
    border-radius: 4px;
    color: var(--color-text-heading-main);
    font-weight: var(--fw-bold);
}

.right-common-header-line {
    flex: 1;
    border-top: 1px solid #545454;
}

.about-me-description {
    margin-top: 12px;
    line-height: 16px;
}

/* ====Секции основной панели==== */
.right-section-wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 12px;
}

.experience-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.item-title {
    color: var(--color-text-main-secondary);
    font-weight: var(--fw-bold);
    font-size: 18px;
    line-height: 24px;
}

.item-subtitle {
    color: var(--color-text-main-secondary);
    font-size: 16px;
    line-height: 18px;
}

.years {
    color: var(--color-text-main-tertiary);
    line-height: 16px;
}

/* ====Навыки и Хобби==== */
.level-indicators {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.level-indicators__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    --v: calc(((18 / 5) * var(--p) - 90) * 1deg);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    padding: 4px;
    background: linear-gradient(#E7E7E7, #E7E7E7) content-box,
    linear-gradient(var(--v), #FFFFFF 50%, transparent 0) 0/min(100%, (50 - var(--p)) * 100%),
    linear-gradient(var(--v), transparent 50%, #3B5999 0) 0/min(100%, (var(--p) - 50) * 100%),
    linear-gradient(to right, #FFFFFF 50%, #3B5999 0);
}

.level-indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    width: 100px;
    height: 78px;
    font-weight: 700;
    font-size: 14px;
    color: #545454;
}

.level-indicators__label {
    font-size: 12px;
}

/* ====Медиазапросы==== */
@media (max-width: 768px) {
    .wrapper {
        flex-direction: column;
        align-items: center;
    }

    .left-panel, .right-panel {
        min-width: 350px;
        width: 100%;
        max-width: 430px;
    }

    .right-panel {
        max-width: 430px;
    }
}

@media (max-width: 350px) {
    body {
        display: block;
        overflow-x: auto;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        min-width: 350px;
        width: fit-content;
    }

    .left-panel, .right-panel {
        min-width: 350px;
        max-width: none;
    }
}